---
import { Image } from 'astro:assets';
import Logo from '../../assets/images/fellnasen_logo.png';
---

<footer class="footer bg-base-200 text-base-content sm:footer-horizontal p-10">
  <aside>
    <div class="flex flex-row items-center justify-center gap-4">
      <Image
        src={Logo}
        alt="Fellnasen Logo"
        width={Logo.width}
        height={Logo.height}
        class="mb-4 h-12 w-auto"
        format="webp"
      />
      <p class="text-2xl font-bold">Fellfreunde</p>
    </div>

    <p class="text-base-content/70 mt-2 max-w-xs text-sm">
      Fellfreunde am Rhein – moderne Tiermedizin mit Herz und viel Empathie für Mensch und Tier.
    </p>
  </aside>
  <nav>
    <h6 class="footer-title">Leistungen</h6>
    <a class="link link-hover">Allgemeinmedizin</a>
    <a class="link link-hover">Chirurgie &amp; Zahnmedizin</a>
    <a class="link link-hover">Diagnostik &amp; Labor</a>
    <a class="link link-hover">Ernährungs- &amp; Seniorenberatung</a>
    <a class="link link-hover">Notfall- &amp; Intensivversorgung</a>
    <a class="link link-hover">Physiotherapie &amp; Reha</a>
  </nav>
  <nav>
    <h6 class="footer-title">Praxis</h6>
    <a href="/ueber_uns" class="link link-hover">Über uns</a>
    <a href="/kontakt" class="link link-hover">Kontakt</a>
    <a href="/impressum" class="link link-hover">Impressum</a>
  </nav>
  <nav>
    <h6 class="footer-title">Rechtliches</h6>
    <a href="/datenschutz" class="link link-hover">Datenschutz</a>
    <a href="/agb" class="link link-hover">AGB</a>
    <a class="link link-hover">Cookie-Richtlinie</a>
  </nav>
</footer>
